@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Arial Black";
    src: url("@/static/fonts/arial_black.ttf");
}

@font-face {
    font-family: "PingFang";
    src: url("@/static/fonts/pingfang_bold.ttf");
}

body {
    background-color: #000;
    font-family: "PingFang";
}
